<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="imageForm" method="post" onsubmit="return postImage();">
      <div class="inputs">
        <label for="image">Imagem de Perfil</label>
        <input type="file" id="image" name="image" accept="image/*" />
      </div>

      <button class="button" type="submit">Confirmar Envio</button>
    </form>

    <script>
      async function postImage() {
        const form = new FormData(document.getElementById("imageForm"));
        const response = await fetch("/api/photos", {
          method: "POST",
          body: form,
        });

        data = await response.json();

        imagePath = data.replace(/^.*\/public\//, '');

        alert(imagePath);

        return false;
      }
    </script>
  </body>
</html>
