<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>perfil</title>
    <link rel="stylesheet" href="css/editarperfil.css" />
  </head>

  <body>
    <header class="containerheader">
      <div class="logo">
        <img
          src="img/WhatsApp_Image_2024-10-16_at_19.19.22-removebg-preview.png"
          alt="Logo do Twitter"
        />
      </div>
    </header>

    <main class="container-perfil">
      <div class="perfil-lateral">
        <a href="/perfil" class="botao-voltar">Voltar</a>
        <div class="foto-perfil">
          <img id="profilePicture"
            src="img/defaultProfilePicture.jpg"
            alt="Foto de perfil"
          />
          <div class="alterar-foto-overlay">Alterar foto</div>
        </div>
        <h2 id="nome"></h2>
        <p id="biografia" class="descricao"></p>
      </div>

      <div class="container">
        <h1>Editar perfil</h1>
        <form id="updateForm" method="post" onsubmit="return updateUser();">
          <div class="inputs">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="name" />
          </div>

          <div class="inputs">
            <label for="Curso">Curso</label>
            <input type="text" id="Curso" name="identifier" />

          </div>

          <label for="image">Imagem de Perfil</label>
          <input type="file" id="image" name="image" accept="image/*" />

          <button class="button" type="submit">Salvar</button>
        </form>
      </div>
    </main>
    <script>
      async function getUser() {
        const response = await fetch("/api/user");
        const user = await response.json();

        document.getElementById("nome").textContent = user["data"]["name"];
        document.getElementById("profilePicture").src = user["data"]["profilePicture"];
        document.getElementById("biografia").textContent = user["data"]["identifier"];
      }

      getUser();

      async function updateUser() {
        const responseUser = await fetch('/api/user');
        const user = await responseUser.json();

        const form = new FormData(document.getElementById("updateForm"));
        const formData = new URLSearchParams(form);

        // formData.forEach((value, key) => {
        //     if (key == 'image') {
        //       value.
        //     }
        // });

        // alert('merda');

        const id = user['data']['id'];

        const responseUpdate = await fetch(`/api/updateProfile/${id}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: formData
        });

        return false;
      }
    </script>
  </body>
</html>
