<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>perfil</title>
    <link rel="stylesheet" href="css/editarperfil.css" />
  </head>

  <body>
    <header class="containerheader">
      <div class="logo">
        <img
          src="img/WhatsApp_Image_2024-10-16_at_19.19.22-removebg-preview.png"
          alt="Logo do Twitter"
        />
      </div>
    </header>

    <main class="container-perfil">
      <div class="perfil-lateral">
        <a href="/perfil" class="botao-voltar">Voltar</a>
        <form id="profileForm" method="post" onsubmit="return submitProfilePicture();">
          <div class="foto-perfil">
            <label for="fileInput">
              <img id="profilePicture" src="img/defaultProfilePicture.jpg" alt="Foto de perfil" />
              <div class="alterar-foto-overlay">Alterar foto</div>
            </label>
            <!-- Input de arquivo oculto -->
            <input type="file" id="fileInput" name="image" style="display: none;" accept="image/*" onchange="previewImage(event)">
          </div>
        
          <!-- Botão para confirmar envio da foto -->
          <button type="button" class="button" onclick="return submitProfilePicture();" >Enviar Foto</button>
        </form>
        <h2 id="nome"></h2>
        <p id="biografia" class="descricao"></p>
      </div>

      <div class="container">
        <h1>Editar perfil</h1>
        <form id="updateForm" method="post" onsubmit="return updateUser();">
          <div class="inputs">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="name" />
          </div>

          <div class="inputs">
            <label for="Curso">Curso</label>
            <input type="text" id="Curso" name="identifier" />

          </div>

          <button class="button" type="submit">Salvar</button>

        </form>
        <button class="button" onclick="deletarConta();">Deletar conta</button>
        <div class="overlay4">
          <div id="pop4" class="pop4">
              
          </div>
      </div>
      </div>
    </main>
    <script>
      function previewImage(event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
            document.getElementById("profilePicture").src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      }
      
      let imagePath = null;

      async function submitProfilePicture() {
        const form = new FormData(document.getElementById("profileForm"));

        const response = await fetch("/api/photos", {
          method: "POST",
          body: form,
        });

        const data = await response.json();

        imagePath = data.replace(/^.*\/public\//, '');
        
        return false;
      }

      async function getUser() {
        const response = await fetch("/api/user");
        const user = await response.json();

        document.getElementById("nome").textContent = user["data"]["name"];
        document.getElementById("profilePicture").src = user["data"]["profilePicture"];
        document.getElementById("biografia").textContent = user["data"]["identifier"];
      }

      function deletarConta() {
        fetch(`/api/deletarAtual`, {
          method: 'DELETE'
        });
      }

      getUser();

      async function updateUser() {
        const responseUser = await fetch('/api/user');
        const user = await responseUser.json();

        const form = new FormData(document.getElementById("updateForm"));
        if (imagePath) {
          form.append('image', imagePath);
        } else {
          form.append('image', 'img/defaultProfilePicture.jpg');
        }
        const formData = new URLSearchParams(form);

        const id = user['data']['id'];

        const responseUpdate = await fetch(`/api/updateProfile/${id}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: formData
        });

        return false;
      }
    </script>
    <script src="./scripts/scriptF.js"></script>
    <script src="./scripts/script.js"></script>
  </body>
</html>