<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>perfil</title>
  <link rel="stylesheet" href="css/editarperfil.css">
</head>

<body>
    <header class="containerheader">
        <div class="logo">
          <img src="img/WhatsApp_Image_2024-10-16_at_19.19.22-removebg-preview.png" alt="Logo do Twitter">
        </div>
      </header>

  <main class="container-perfil">
    <div class="perfil-lateral">
    <a href="/perfil" class="botao-voltar">Voltar</a>
    <div class="foto-perfil">
        <img src="img/c875c2bd-508b-49a1-8578-8362f1fb4a88.jfif" alt="Foto de perfil">
        <div class="alterar-foto-overlay">Alterar foto</div>
    </div>
      <h2>Priscila Bueno</h2>
      <p class="descricao">Tenho 19 anos e estou no segundo periodo de Engenharia de software</p>
      <p class="data-nascimento"><strong>Data de nascimento:</strong> 06/05/2005</p>
    </div>

    <div class="container">
      <h1>Editar perfil</h1>
      <form >
        <div class="inputs">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="name">
        </div>

        <div class="inputs">
          <label for="Curso">Curso</label>
          <input type="text" id="Curso", name="identifier">
        </div>

        <button class="button" type="submit">Salvar</button>
      </form>
    </div>
  </main>

</body>

</html>
