<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PUCUS</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/loginCad.css">
</head>

<body class="pagina-email-redefinicao">

    <div class="container">
        <div class="form-box login">
            <form onsubmit="mostrarConfirmacao(event)">
                <h1>Digite seu E-mail cadastrado</h1>
                <div class="input-box">
                    <input type="text" placeholder="Email cadastrado" required>
                    <i class='bx bxs-user'></i>
                </div>
                <button id="enviarEmail" class="btn">Enviar token de recuperação</button>
            </form>
        </div>

        <div class="left-box">
            <div class="leftidk">
                <p class="textoredef">Enviaremos um token de recuperação para seu e-mail</p>
            </div>
        </div>
    </div>
    </div>
</body>
<script>

    document.getElementById("enviarEmail").addEventListener("click", function (event) {
        event.preventDefault();
        window.location.href = "emailenviado.html";
    });


</script>



</html>