<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PUCUS</title>
    <link rel="stylesheet" href="css/generalStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <container class="Navs">
      <div class="whiteNav">
        <nav>
          <div class="icon2">
            <a href="#"><i class="bi bi-arrow-bar-right" id="exp"></i></a>
          </div>
          <ul>
            <li class="abas">
              <a href="./home">
                <span class="icon"><i class="bi bi-house-fill"></i></span>
                <span class="text">Home</span>
              </a>
            </li>
            <li class="abas">
              <a href="./feed">
                <span class="icon"><i class="bi bi-backpack3"></i></span>
                <span class="text">Feed</span>
              </a>
            </li>
            <li class="abas">
              <a href="./ticket">
                <span class="icon"><i class="bi bi-car-front-fill"></i></span>
                <span class="text">Tickets</span>
              </a>
            </li>
            <li class="abas">
              <a href="/tags">
                <span class="icon"><i class="bi bi-bookmark-check-fill"></i></span>
                <span class="text">Tags</span>
              </a>
            </li>
            <li class="abas">
              <a href="/posts">
                <span class="icon"><i class="bi bi-file-earmark-post-fill"></i></span>
                <span class="text">Posts</span>
              </a>
            </li>
            <li class="abas">
              <a href="/comments">
                <span class="icon"><i class="bi bi-chat-dots-fill"></i></span>
                <span class="text">Comentarios</span>
              </a>
            </li>
            <li class="abas">
              <a href="/estabelecimentos">
                <span class="icon"><i class="bi bi-building-fill-exclamation"></i></span>
                <span class="text">Estabelecimentos</span>
              </a>
            </li>
            <li class="abas">
              <a href="/reactions">
                <span class="icon"><i class="bi bi-emoji-dizzy"></i></span>
                <span class="text">Reações</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </container>
    <container class="Mid">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div id="posts-c" class="WM">
        <!-- <div class="post">
          <div class="head_post">
            <div class="icon_post">
              <img src="img/adan.png" alt="taldo adan" />
            </div>
            <div class="txt_post">
              <h1>User@129839012</h1>
              <p>12/02/2024 | 15:15 
              <p id="sacu"></p>
            </p>
            <script>
                const pendente = false;
                const status = document.getElementById("sacu")
                if (pendente==true){
                    status.textContent = "pendente"
                }else{
                    status.textContent = "concluído"
                }
          </script>
              <div id="edit"class="edit">
                <button class="butti">
                     <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="body_post">
            <div class="txtBody">
              <h1>Texto decorrente de uma possível ocorrência...</h1>
            </div>
            <div class="imgBody">
              <img src="img/carFire.jpg" alt="fuego" />
            </div>
          </div>
          <div class="footer_post">
            <div class="likes_post">
              <i id="like" class="bi bi-hand-thumbs-up-fill jose"></i>
              <i id="deslike" class="bi bi-hand-thumbs-down-fill jose"></i>
              <script>
                const iconsmec = document.querySelectorAll('.jose');
              
                iconsmec.forEach(iconr => {
                  iconr.addEventListener('click', () => {
                    iconr.addEventListener('click', () => {
                    // Remove a classe "selecionado" de todos os ícones
                    iconsmec.forEach(otherIcon => {
                        otherIcon.classList.remove('selecionado');
                    });

                        // Adiciona ou remove a classe "selecionado" do ícone clicado
                        if (!iconr.classList.contains('selecionado')) {
                            iconr.classList.add('selecionado');
                        } else {
                            iconr.classList.remove('selecionado');
                            }
                            });
                        });
                    });
              </script>
            </div>
            <div class="coment_post">
              <a href="comment.html"><i id="cool" class="bi bi-chat-dots-fill"></i></a>
            </div>
            <div class="tags_post">
              <i id="cool" class="bi bi-shield-fill-exclamation"></i>
              <i id="cool" class="bi bi-exclamation-diamond-fill"></i>
              <i id="cool" class="bi bi-backpack"></i>
              <i id="cool" class="bi bi-bank2"></i>
            </div>
          </div>
          
        </div> -->
      </div>
    </container>
    <container class="Right">
        <div class="pinto">
            <a href="perfil"><img id="fotoDePerfilCuzinhoArthurMajorCorreiaPintoMexicano" src="./img/defaultProfilePicture.jpg" alt=""></a>| <a href="config"><i class="bi bi-gear-fill"></i></a>
        </div>
      <h1>Comunicados</h1>
      <div class="comunic">
        <img src="./img/images.png" alt=""><h1 class="meno">teste</h1>
      </div>
      <div class="comunic">
        <img src="./img/images.png" alt=""><h1 class="meno">teste</h1>
        
      </div>
      <div class="comunic">
        <img src="./img/images.png" alt=""><h1 class="meno">teste</h1>
      </div>
    </a>
      <div class="pucar">
        <div class="1">
          <button onclick="showPopup(popup2,overlay2)">
            <i class="bi bi-image"></i>
          </button>
        </div>
        <h1>|</h1>
        <div class="2">
          <button onclick="showPopup(popup,overlay)">
            <i class="bi bi-pen"></i>
          </button>
        </div>
      </div>
      <div class="comunic">
        <a href="./posts">

            <h1>+</h1>
            </a>
      </div>
    </container>
   
  <div class="overlay">
    <form id="pop" class="pop" method="post" onsubmit="return createTag();">
      <container class="up">
        <h1>Fazer postagem</h1>
      </container>
      <container class="chose">
        <div class="write inputs">
          <label for="createNome">Texto</label>
          <input type="text" id="createNome" name="text" required>
        </div>
      </container>
      <container class="chose">
        <div class="write inputs">
          <label for="createNome">Tipo</label>
          <input type="text" id="createNome" name="type" required>
        </div>
      </container>

      <div class="imgs">
        <div class="porft inputs">
          <label for="createNome">I</label>
          <input type="text" id="createNome" name="image" required>
        </div>
      </div>
      <p>Selecione as tags desejadas</p>
      <div class="iconst">
        <i id="i1" class="bi bi-shield-fill-exclamation iconT"></i>
        <i id="i2" class="bi bi-exclamation-diamond-fill iconT"></i>
        <i id="i3" class="bi bi-backpack iconT"></i>
        <i id="i4" class="bi bi-bank2 iconT"></i>
      </div>
      <div class="buttonF">
        <button onclick="closePopup(popup,overlay)">FECHAR</button>
        <button class="button" type="submit" id="post-button" onclick="closePopup(popup,overlay)">Postar</button>
      </div>
    </form>
    <script src="./scripts/scripts.js"></script>
  </div>
      <!--trocar por </form>-->
    </div>
    <div class="overlay2">
      <form id="pop2" class="pop2" method="post">
        <div class="up">
          <h1>Tire uma foto e faça um post instantanêo</h1>
          <br />
        </div>
        <div class="video">
          <video autoplay></video>
        </div>

        <div class="iconst">
          <i class="bi bi-shield-fill-exclamation iconT"></i>
          <i class="bi bi-exclamation-diamond-fill iconT"></i>
          <i class="bi bi-backpack iconT"></i>
          <i class="bi bi-bank2 iconT"></i>
        </div>
        <div class="butt">
          <button id="takepic" onclick="closePopup(popup2,overlay2),fodase()">
            Tirar foto
          </button>
          <button onclick="closePopup(popup2,overlay2)">
            Fechar
          </button>
          <script>
            async function atualizarFotoPerfil() {
              response = await fetch("/api/user");
              user = await response.json();

              document.getElementById("fotoDePerfilCuzinhoArthurMajorCorreiaPintoMexicano").src = user["data"]["profilePicture"];
            }

            atualizarFotoPerfil();

            function showPopup(front, back) {
              front.style.display = "block";
              back.style.display = "block";
              if (front == popup2) {
                video = document.querySelector("video");
                navigator.mediaDevices
                  .getUserMedia({ video: true })
                  .then((stream) => {
                    video.srcObject = stream;
                    video.play;
                  })
                  //alert("Não foi possível acessar a camera")
                  .catch();
              }
            }

            function createPost(post, user) {
              const newinstPost = document.createElement("div");
              newinstPost.classList.add("post");
              

              newinstPost.innerHTML = `
                <div class="head_post">
                <div class="icon_post">
                  <img src="${user['data']['profilePicture']}" />
                </div>
                <div class="txt_post">
                  <h1>${user['data']['name']}</h1>
                  <p>${post['created_at']}</p>
                </div>
              </div>
              <div class="body_post">
                <div class="txtBody">
              <h1>${post['text']}</h1>
            </div>
            <div class="imgBody">
               <img src="${post['image']}">
            </div>
              </div>
              <div class="footer_post">
                <div class="likes_post">
                  <i id="cool" class="bi bi-hand-thumbs-up-fill"></i>
                  <i id="cool" class="bi bi-hand-thumbs-down-fill"></i>
                </div>
                <div class="coment_post">
                    <a href="/comment"><i id="cool" class="bi bi-chat-dots-fill"></i></a>
                  </div>
                <div class="tags_post">
                    </div>
              </div>
                `;
                return newinstPost;
            }

            async function renderPosts() {
              response = await fetch("/api/posts");
              posts = await response.json();

              console.log(posts); 

              posts.forEach(post => {
                async function xd() {
                  id = post['user_id'];

                  userResponse = await fetch(`/api/users/${id}`);
                  user = await userResponse.json();

                  postElement = createPost(post, user);
                  postsContainer.appendChild(postElement);
                }
                xd();
              });
            }

            renderPosts();

            function validate_form() {
              return false;
            }

            async function createTag() {
                const form = new FormData(document.getElementById("pop"));
                form.append('tags[0]', '1');

                const response = await fetch('/api/posts', {
                    method: 'POST',
                    body: form
                });
    
                const data = await response.json();
                return false;
            }
          </script>
        </div>
      </form>
    </div>
      <script src="scripts/scriptF.js"></script>
  </body>
</html>