<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PUCUS</title>
    <link rel="stylesheet" href="css/generalStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <container class="Navs">
      <div class="whiteNav">
        <nav>
          <div class="icon2">
            <a href="#"><i class="bi bi-arrow-bar-right" id="exp"></i></a>
          </div>
          <ul>
            <li class="abas">
              <a href="./home">
                <span class="icon"><i class="bi bi-house-fill"></i></span>
                <span class="text">Home</span>
              </a>
            </li>
            <li class="abas">
              <a href="./feed">
                <span class="icon"><i class="bi bi-backpack3"></i></span>
                <span class="text">Feed</span>
              </a>
            </li>
            <li class="abas">
              <a href="./forum">
                <span class="icon"><i class="bi bi-book"></i></span>
                <span class="text">Forúm</span>
              </a>
            </li>
            <li class="abas">
              <a href="/estabelecimento">
                <span class="icon"><i class="bi bi-buildings-fill"></i></span>
                <span class="text">Estabelecimentos</span>
              </a>
            </li>
            <li class="abas">
              <a href="./ticket">
                <span class="icon"><i class="bi bi-car-front-fill"></i></span>
                <span class="text">Tickets</span>
              </a>
            </li>
            <li class="abas">
              <a href="./comunicados">
                <span class="icon"><i class="bi bi-award-fill"></i></span>
                <span class="text">Comunicados</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </container>
    <container class="Mid">
      <div class="logo">
        <img src="img/logo.png" alt="" />
      </div>
      <div class="WM">
        <div class="post">
          <div class="head_post">
            <div class="icon_post">
              <img src="img/adan.png" alt="taldo adan" />
            </div>
            <div class="txt_post">
              <h1>User@129839012</h1>
              <p>12/02/2024 | 15:15</p>
            </div>
          </div>
          <div class="body_post">
            <div class="txtBody">
              <h1>Texto decorrente de uma possível ocorrência...</h1>
            </div>
            <div class="imgBody">
              <img src="img/carFire.jpg" alt="fuego" />
            </div>
          </div>
          <div class="footer_post">
            <div class="likes_post">
              <i id="cool" class="bi bi-hand-thumbs-up-fill"></i>
              <i id="cool" class="bi bi-hand-thumbs-down-fill"></i>
            </div>
            <div class="coment_post">
              <i id="cool" class="bi bi-chat-dots-fill"></i>
            </div>
            <div class="tags_post">
              <i id="cool" class="bi bi-shield-fill-exclamation"></i>
              <i id="cool" class="bi bi-exclamation-diamond-fill"></i>
              <i id="cool" class="bi bi-backpack"></i>
              <i id="cool" class="bi bi-bank2"></i>
            </div>
          </div>
        </div>
      </div>
    </container>
    <container class="Right">
      <div class="pinto">user@12345 | <i class="bi bi-gear-fill"></i></div>
      <h1>Comunicados</h1>
      <div class="comunic">
        <h1>teste</h1>
      </div>
      <div class="comunic">
        <h1>teste</h1>
      </div>
      <div class="comunic">
        <h1>teste</h1>
      </div>
      <div class="pucar">
        <div class="1">
          <button onclick="showPopup(popup2,overlay2)">
            <i class="bi bi-image"></i>
          </button>
        </div>
        <h1>|</h1>
        <div class="2">
          <button onclick="showPopup(popup,overlay)">
            <i class="bi bi-pen"></i>
          </button>
        </div>
      </div>
    </container>
    <div class="overlay">
      <form
        id="pop"
        class="pop"
        method="post"
        onsubmit="return validate_form();"
      >
        <script>
          const icons = document.querySelectorAll(".iconT");

          icons.forEach((icon) => {
            icon.addEventListener("click", () => {
              icon.classList.add("selected");
            });
          });
        </script>
        <container class="up">
          <h1>Fazer postagem</h1>
        </container>
        <container class="chose">
          <div class="write">
            <input type="text" />
            <!-- Aqui coloca a porra do id -->
          </div>
        </container>

        <div class="imgs">
          <div class="porft">
            <i class="bi bi-image"></i>
          </div>
          <div class="porft"></div>
          <div class="porft"></div>
        </div>
        <p>Selecione as tags desejadas</p>
        <div class="iconst">
          <i class="bi bi-shield-fill-exclamation iconT"></i>
          <i class="bi bi-exclamation-diamond-fill iconT"></i>
          <i class="bi bi-backpack iconT"></i>
          <i class="bi bi-bank2 iconT"></i>
        </div>
        <div class="buttonF">
          <button onclick="closePopup(popup,overlay)">FECHAR</button>
          <button type="submit" onclick="closePopup(popup,overlay)">
            POSTAR
          </button>
        </div>
      </form>
    </div>
    <div class="overlay2">
      <container id="pop2" class="pop2">
        <div class="up">
          <h1>Tire uma foto e faça um post instantanêo</h1>
          <br />
        </div>
        <div class="video">
          <video autoplay></video>
        </div>
        <div class="butt">
          <button onclick="closePopup(popup2,overlay2)">Tirar foto</button>
        </div>
      </container>
    </div>
    <script>
      const popup = document.getElementById("pop");
      const overlay = document.querySelector(".overlay");
      const popup2 = document.getElementById("pop2");
      const overlay2 = document.querySelector(".overlay2");

      function showPopup(front, back) {
        front.style.display = "block";
        back.style.display = "block";
        if (front == popup2) {
          video = document.querySelector("video");
          navigator.mediaDevices
            .getUserMedia({ video: true })
            .then((stream) => {
              video.srcObject = stream;
              video.play;
            })
            //alert("Não foi possível acessar a camera")
            .catch();
        }
      }
      function closePopup(front, back) {
        front.style.display = "none";
        back.style.display = "none";
      }
    </script>
  </body>
</html>
