<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUCUS</title>
    <link rel="stylesheet" href="css/generalStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
        <container class="Navs">
            <div class="whiteNav">
                <nav>
                    <div class="icon2">
                        <a href="#"><i class="bi bi-arrow-bar-right" id="exp"></i></a>
                    </div>
                    <ul>
                        <li class="abas">
                            <a href="./home">
                            <span class="icon"><i class="bi bi-house-fill"></i></span>
                            <span class="text">Home</span>
                            </a>
                        </li>
                        <li class="abas">
                            <a href="./feed">
                            <span class="icon"><i class="bi bi-backpack3"></i></span>
                            <span class="text">Feed</span>
                            </a>
                        </li>
                        <li class="abas">
                            <a href="./forum">
                            <span class="icon"><i class="bi bi-book"></i></span>
                            <span class="text">Forúm</span>
                            </a>
                        </li>
                        <li class="abas">
                            <a href="./estabelecimento">
                            <span class="icon"><i class="bi bi-buildings-fill"></i></span>
                            <span class="text">Estabelecimentos</span>
                            </a>
                        </li>
                        <li class="abas">
                            <a href="./ticket">
                            <span class="icon"><i class="bi bi-car-front-fill"></i></span>
                            <span class="text">Tickets</span>
                            </a>
                        </li>
                        <li class="abas">
                            <a href="./comunicados">
                            <span class="icon"><i class="bi bi-award-fill"></i></span>
                            <span class="text">Comunicados</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </container>
        <container class="Mid">
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <div class="WM">
                <div class="post">
                    <div class="head_post">
                        <div class="icon_post">
                            <img src="img/images.png" width="200px" alt="imgPuc">
                        </div>
                        <div class="txt_post">
                            <p>User@f1-923</p>
                            <p>12/02/2024 | 15:15</p>
                        </div>
                    </div>
                    <div class="body_post">
                        <div class="txtBody">
                            <h1>Deveriamos levantar as antenas do Kwid?</h1>
                        </div>
                    </div>
                    </div>
                    <div class="post">
                        <div class="head_post">
                            <div class="icon_post">
                                <img src="img/images.png" width="200px" alt="imgPuc">
                            </div>
                            <div class="txt_post">
                                <p>User@f1-923</p>
                                <p>12/02/2024 | 15:15</p>
                            </div>
                        </div>
                        <div class="body_post">
                            <div class="txtBody">
                                <h1>Deveriamos levantar as antenas do Kwid?</h1>
                            </div>
                        </div>
                        </div>
                    
                       
                            
                        </div>
                </div>

            </div>
        </container>
        <container class="Right">
            <div class="pinto">
                user@12345 | <i class="bi bi-gear-fill"></i>
            </div>
            <h1>Comunicados</h1>
            <div class="comunic">
                <h1>teste</h1>
            </div>
            <div class="comunic">
                <h1>teste</h1>
            </div>
            <div class="comunic">
                <h1>teste</h1>
            </div>
            <div class="forum">
                <div class="ggg">
                    <button onclick=showPopup()>Criar discussão</button>
                </div>
            </div>
        </container>
        <div class="overlay">
            <container id="pop" class="pop1">
                <script>
                     const icons = document.querySelectorAll('.iconT');

            icons.forEach(icon => {
            icon.addEventListener('click', () => {
                icon.classList.add('selected');
            });
            });
                </script>
                <container class="up">
                    <h1>Criar discussão</h1>
                </container>
                <div class="pedro">
                    <p>Titulo</p>
                    <input type="text">
                </div>
                <container class="chose">
                    
                    <div class="write">
                        <input type="text">
                        
                    </div>
                </container>
                <div class="buttonF">
                    <button onclick=closePopup()>FECHAR</button>
                    <button onclick=closePopup()>POSTAR</button>
                </div>
                
            </container>
            <script>

           

                const popup = document.getElementById('pop');
                const overlay = document.querySelector('.overlay');
    
                function showPopup() {
                    popup.style.display = 'block';
                    overlay.style.display = 'block';
                    }
                    function closePopup() {
                    popup.style.display = 'none';
                    overlay.style.display = 'none';
                    }
            </script>
</body>
</html>