<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
  <link rel="stylesheet" href="/css/login.css">
</head>

<script type="text/javascript" language="javascript">
    function valida_form() {
    const usuario = document.getElementById("usuario").value.trim();
    const senha = document.getElementById("senha").value.trim();

    if (usuario === "") {
      alert('Por favor, preencha o campo com celular, e-mail ou usuario.');
      document.getElementById("usuario").focus();
      return false;
    }

    if (senha === "") {
      alert('Por favor, preencha o campo senha.');
      document.getElementById("senha").focus();
      return false;
    }

    return true;
  }

</script>

<body>

  <header class="containerheader">
    <div class="logo">
      <img src="img/WhatsApp_Image_2024-10-16_at_19.19.22-removebg-preview.png" alt="Logo do Twitter">
    </div>
  </header>

  <main class="containerlog">
    <h1>LOGIN</h1>

    <div class="container">
      <form class="" onsubmit="return valida_form();">
        <div class="inputs">
          <label class="usuario" for="usuario">Celular, e-mail ou nome de usuário</label><br>
          <input type="text" id="usuario">
        </div>

        <div class="inputs">
          <label class="senha" for="senha">Senha</label><br>
          <input type="password" id="senha">
        </div>

        <button class="button" type="submit">Entrar</button>
      </form>

      <div class="links container">
        <a target="_blank" href="#">Esqueci minha senha</a>
        <span class="ponto"></span>
        <a target="_blank" href="#">Cadastrar-se no PUCUS</a>
      </div>

    </div>

</main>

</body>
</html>