<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> PUCUS</title>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="css/loginCad.css">
</head>

<body>
	<div class="container">
		<div class="form-box login">
			<form id="loginForm" method="post">
				<h1>Login</h1>
				<div class="input-box">
					<input id="email" name="email" type="email" placeholder="email" required>
					<i class='bx bxs-user'></i>
				</div>
				<div class="input-box">
					<input id="password" name="password" type="password" placeholder="Senha" required>
					<i class='bx bxs-lock-alt'></i>
				</div>
				<div class="forgot-link">
					<a href="#">Esqueci minha senha</a>
				</div>
				<button type="submit" class="btn">Login</button>
			</form>
		</div>

		<div class="left-box">
			<div class="leftidk">
				<h1>Bem vindo ao</h1>
				<h1>Pucus!</h1>
				<p>Não tem uma conta?</p>
				<button id="register-button" class="btn register-bnt">Cadastrar-se</button>
			</div>
		</div>
	</div>
</body>

<script>
	document.getElementById('register-button').addEventListener('click', function () {
		window.location.href = "registers";
	});
</script>

<script type="text/javascript" language="javascript">
	document.getElementById("loginForm").addEventListener("submit", async function (e) {
		e.preventDefault(); // impede o reload

		const email = document.getElementById("email").value.trim();
		const password = document.getElementById("password").value.trim();

		if (email === "") {
			alert('Por favor, preencha o campo e-mail');
			document.getElementById("email").focus();
			return;
		}

		if (password === "") {
			alert('Por favor, preencha o campo senha.');
			document.getElementById("password").focus();
			return;
		}

		const form = new FormData(this);
		const formData = new URLSearchParams(form);

		const response = await fetch('/api/login', {
			method: 'POST',
			body: formData
		});

		const data = await response.json();

		const response2 = await fetch('/api/user');
		const data2 = await response2.json();

		console.log(data2);

		// Se quiser redirecionar ao sucesso:
		if (data.status === 'success') {
			const userData = data2.data;

			// Salva os dados do usuário como um único objetoposts.sort
			localStorage.setItem('user', JSON.stringify({
				name: userData.name,
				id: userData.id,
				identifier: userData.identifier,
				profilePicture: userData.profilePicture,
				email: userData.email,
				access_level: userData.access_level
			}));

			const user = JSON.parse(localStorage.getItem('user'))
			if (user.access_level == 3) {
				window.location.href = '/homeADM';
			} else if (user.access_level == 1) {
				window.location.href = '/home';
			} else if (user.access_level == 2) {
				window.location.href = '/home'
			} else if (user.access_level == 4) {
				window.location.href = '/homeADM'
			}
		} else {
			alert(data.message);
		}

	});
</script>
</html>