<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="css/perfil.css" />
  </head>

  <body>
    <header class="containerheader">
      <div class="logo">
        <img
          src="img/WhatsApp_Image_2024-10-16_at_19.19.22-removebg-preview.png"
          alt="Logo do Twitter"
        />
      </div>
    </header>

    <main id="postsContainer" class="containerprof">
      <div class="perfildados">
        <a href="/home" class="botao-voltar">Voltar</a>
        <a href="/editarPerfil" class="buttoneditar">Editar perfil</a>
        <div class="foto-perfil">
          <img
            id="profilePicture"
            src="img/defaultProfilePicture.jpg"
            alt="Foto de perfil"
          />
        </div>
        <h2 id="nome">Priscila Bueno</h2>
      </div>

      <hr />
      <p class="separador">POSTAGENS</p>
      <hr />
    </main>

    <script>
      async function getUser() {
        response = await fetch("/api/user");
        user = await response.json();

        document.getElementById("nome").textContent = user["data"]["name"];
        document.getElementById("profilePicture").src = user["data"]["profilePicture"];

        renderPosts();
      }

      getUser();

      function createPost(post) {
        const postElement = document.createElement('div');
        postElement.classList.add('post');
        
        postElement.innerHTML = `
          <div class="head_post">
            <div class="icon_post">
              <img src="${user["data"]["profilePicture"]}" alt=" " />
            </div>
            <div class="txt_post">
              <h3>${user["data"]["name"]}</h3>
              <p>${post.created_at}</p>
            </div>
          </div>
          <div class="body_post">
            <div class="txtBody">
              <h1>${post.text}</h1>
            </div>

            ${post.image}

            <div class="footer_post">
              <div class="likes_post">
                <i class="bi bi-hand-thumbs-up-fill"></i>
                <i class="bi bi-hand-thumbs-down-fill"></i>
              </div>
              <div class="coment_post">
                <i class="bi bi-chat-dots-fill"></i>
              </div>
              <div class="tags_post">
                <i class="bi bi-shield-fill-exclamation"></i>
                <i class="bi bi-exclamation-diamond-fill"></i>
                <i class="bi bi-backpack"></i>
                <i class="bi bi-bank2"></i>
              </div>
            </div>
          </div>
        `;
          
        return postElement;
      }

      async function renderPosts() {
        response = await fetch("/api/get-posts-by-user-id");
        posts = await response.json();

        console.log(posts); 

        postsContainer = document.getElementById('postsContainer');

        posts['data'].forEach(post => {
          if (post.image == 'null') {
            post.image = ''
          } else {
            post.image = `
            <div class="imgBody">
              <img src="${post.image}" />
            </div>
            `
          }

          postElement = createPost(post);
          postsContainer.appendChild(postElement);
        });
      }
    </script>
  </body>
</html>
