<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Coordenador</title>
  <link rel="stylesheet" href="css/cadastro.css">
</head>


<script type="text/javascript">
  async function validate_form() {
    const nome = document.getElementById("nome").value.trim();
    const departamento = document.getElementById("departamento").value.trim();
    const email = document.getElementById("email").value.trim();
    const senha = document.getElementById("senha").value.trim();
    const confirmaSenha = document.getElementById("confirma-senha").value.trim();

    if (nome === "") {
      alert('Por favor, preencha o campo nome.');
      document.getElementById("nome").focus();
      return false;
    }
    if (departamento === "") {
      alert('Por favor, preencha o campo departamento.');
      document.getElementById("departamento").focus();
      return false;
    }
    if (email === "") {
      alert('Por favor, preencha o campo e-mail.');
      document.getElementById("email").focus();
      return false;
    }
    if (senha === "") {
      alert('Por favor, preencha o campo senha.');
      document.getElementById("senha").focus();
      return false;
    }
    if (confirmaSenha === "") {
      alert('Por favor, confirme sua senha.');
      document.getElementById("confirma-senha").focus();
      return false;
    }
    if (senha !== confirmaSenha) {
      alert('As senhas não coincidem. Por favor, verifique.');
      document.getElementById("confirma-senha").focus();
      return false;
    }

    const form = new FormData(document.getElementById("registerForm"));
    form.append("access_level", "3");
    form.append("image", "img/defaultProfilePicture.jpg");
    
    const formData = new URLSearchParams(form);
    const response = await fetch('/api/register', {
      method: 'POST',
      body: formData
    });

    const data = await response.json();

    if (data.status == 'success') {
      window.location.href = '/login';
    } else {
      alert(data.message);
    }

    return false;
  }
</script>



<body>

  <header class="containerheader">
    <div class="logo">
      <img src="img/WhatsApp_Image_2024-10-16_at_19.19.22-removebg-preview.png" alt="Logo do PUCUS">
    </div>
  </header>

  <main class="container-cadastro">
    <h1>CADASTRO COORDENADOR</h1>

    <div class="container">
      <form id="registerForm" method="post" onsubmit="return validate_form();">
        <div class="inputs">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="name">
        </div>

        <div class="inputs">
          <label for="departamento">Departamento</label>
          <input type="text" id="departamento" name="identifier">
        </div>

        <div class="inputs">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email">
        </div>

        <div class="inputs">
          <label for="senha">Senha</label>
          <input type="password" id="senha" name="password">
        </div>

        <div class="inputs">
          <label for="confirma-senha">Confirme sua senha</label>
          <input type="password" id="confirma-senha">
        </div>

        <button class="button" type="submit">Confirmar Cadastro</button>
      </form>
    </div>

  </main>

</body>

</html>