<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Como deseja se cadastrar?</title>
  <link rel="stylesheet" href="css/tipocad.css">
</head>

<body>

  <header class="containerheader">
    <div class="logo">
      <img src="img/WhatsApp_Image_2024-10-16_at_19.19.22-removebg-preview.png" alt="Logo do Twitter">
    </div>
  </header>

  <main class="containerlog">
    

    <div class="container">

        <div class="containertipos">
            <h1>Como deseja se cadastrar?</h1>
            <a href="/register-student" class="button">Estudante</a>
            <a href="/register-employee" class="button">Funcionário</a>
            <a href="/register-coordinator" class="button">Coordenador</a>
        </div>

    </div>

</main>

</body>
</html>