<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Redefinir senha</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
  <link rel="stylesheet" href="css/resetPassword.css" />
</head>

<body>
  <div class="container">

    <div class="left-box">
      <div class="leftidk">
        <p>Digite sua nova senha</p>
      </div>
    </div>

    <div class="form-box-email">
      <div class="content-wrapper">
        <h1>Redefinir Senha</h1>

        <form id="resetForm" action="/api/passwordreset" method="POST">

          <input type="hidden" name="token" id="tokenInput" />

          <div class="input-box">
            <input type="password" id="newPassword" name="new_password" placeholder="Nova Senha" required />
            <i class='bx bx-lock'></i>
          </div>

          <div class="input-box">
            <input type="password" id="confirmPassword" placeholder="Confirmar Senha" required />
            <i class='bx bx-lock'></i>
          </div>

          <button type="submit" class="btn">Redefinir Senha</button>
        </form>

        <p id="errorMessage"></p>
      </div>
    </div>
  </div>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get("token");
    const tokenInput = document.getElementById("tokenInput");
    const errorMessage = document.getElementById("errorMessage");

    // Atribui o valor do token ao campo oculto
    tokenInput.value = token;

    const form = document.getElementById("resetForm");
    form.addEventListener("submit", function (event) {
      const senha1 = document.getElementById("newPassword").value;
      const senha2 = document.getElementById("confirmPassword").value;

      if (senha1 !== senha2) {
        event.preventDefault(); // bloqueia o envio do formulário
        errorMessage.textContent = "As senhas não coincidem.";
      } else {
        errorMessage.textContent = ""; // limpa a msg de erro
      }
    });
  </script>

</body>

</html>